@use '../custom' as *;
@use '../components/mixins' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1.1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            display: inline-block;
        }
    }
    
}

.personal-card {
    font-family: 'Poppins', sans-serif;
    
    span {
        margin-top: 1.5rem;
        font-size: 1rem;
        font-weight: 400;

        @include media-breakpoint-up(lg) {
            font-size: 1.15rem;
            display: inline-block;
        }
    }
    
    p {
        margin-top: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
        
        @include media-breakpoint-up(lg) {
            font-size: 1.35rem;
            display: inline-block;
        }
    }
}

// heading line
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    margin: 0 auto;
    display: block;
    background-color: $primary;
}
.heading-line::after {
    content: "";
    width: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    background-color: $primary;
}

.display-3 {
    font-family: 'Poppins', sans-serif;

    &--title {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        @include gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }

    }
}

.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}


